<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgnb.mapper.ActionStepParamValueMapper">

    <sql id="base_columns">
        actionStepId,actionParamId,actionParamValue
    </sql>

    <insert id="addActionStepParamValues">
        insert into action_step_param_value
        (<include refid="base_columns"></include>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.actionStepId},#{item.actionParamId},#{item.actionParamValue})
        </foreach>
    </insert>
</mapper>