<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgnb.mapper.ActionParamMapper">

    <sql id="base_columns">
        actionParamName,description,actionId
    </sql>

    <insert id="addActionParams">
        insert into action_param
        (<include refid="base_columns"></include>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.actionParamName},#{item.description},#{item.actionId})
        </foreach>
    </insert>
</mapper>