<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fgnb.mapper.ActionStepMapper">

    <sql id="base_columns">
        actionId,stepActionId,actionStepName,evaluation,actionStepNumber
    </sql>

    <insert id="addActionSteps" useGeneratedKeys="true" keyProperty="actionStepId">
        insert into action_step
        (<include refid="base_columns"></include>)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.actionId},#{item.stepActionId},#{item.actionStepName},#{item.evaluation},#{item.actionStepNumber})
        </foreach>
    </insert>
</mapper>